@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100&family=Beau+Rivage&family=Bebas+Neue&family=Comfortaa:wght@600&family=Festive&family=Grape+Nuts&family=Montserrat:wght@400;900&family=Ms+Madi&family=Nunito&family=Nunito+Sans&family=Open+Sans:wght@400;500;600&family=Oswald:wght@200;700&family=Poppins:wght@300;500&family=Quintessential&family=Roboto+Condensed:wght@400;700&family=RocknRoll+One&family=Smooch+Sans:wght@200&family=Spectral:wght@700&family=Updock&family=Vollkorn:wght@500&family=Water+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  scroll-behavior: smooth;
}

header {
  padding: 10px;
  width: 100%;
  background-color: #128596;
}

.wrap {
  max-width: 1900px;
  margin: 0 auto;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fig-menu {
  display: none;
}

.fig-logo img {
  width: 6em;
}

input {
  background-image: url("Imagens/lupa.png");
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: contain;
  text-align: center;
  padding: 0.4rem;
  border-radius: 100px;
  border: 2px solid black;
}

.navigation {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.list {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.img-fundo {
  background-image: url("./Imagens/bob-plano.png");
  width: 100%;
  height: 50rem;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  background-color: #ffe5ac;
  object-fit: cover;
}

.caixa-amigos {
  padding: 5rem;
}

h1 {
  color: #128596;
  font-size: 5rem;
  text-shadow: 0px 6px 4px grey;
  letter-spacing: 4px;
}

.nav-amigos {
  margin-top: 40px;
}

.nav-amigos ul {
  list-style: none;
}

.nav-amigos li {
  cursor: pointer;
  width: 30%;
  margin-bottom: 20px;
  padding: 10px;
}

.nav-amigos li:hover {
  background-color: #febd81;
}

.nav-amigos a {
  color: #d56e0e;
  font-size: 1.8rem;
}

.caixa-subtitulo {
  padding: 2rem;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixa-subtitulo h2 {
  color: #128596;
  font-size: 2rem;
}

.linha {
  background-color: gainsboro;
  width: 100px;
  height: 5px;
  position: relative;
  left: 90px;
}

.fig-person {
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: #128596;
  position: relative;
  overflow: hidden;
}

.text-person {
  width: 100%;
  height: 15rem;
  position: absolute;
  top: -240px;
  background-color: #bf7a59;
  opacity: 0.9;
  border-radius: 0px 0px 50px 50px;
  padding: 3rem 1.2rem;
  transition: 1s all;
  z-index: 1;
}

.fig-person:hover .text-person {
  top: 0px;
}

.text-person h3 {
  color: white;
  font-size: 2rem;
}

.text-person p {
  color: white;
  margin-top: 10px;
}

.personagem {
  width: 50%;
  text-align: center;
}

button {
  background-color: #bf7a59;
  border: none;
  width: 150px;
  padding: 1rem;
  position: relative;
  bottom: 30px;
  right: 22px;
  border-radius: 5px;
  color: white;
}

/* Aqui começa o @media */
@media (max-width: 900px) {
  .navigation {
    display: none;
  }

  .fig-menu {
    display: flex;
  }

  .fig-logo {
    margin: 0 auto;
  }

  .caixa-amigos {
    padding: 0rem;
  }

  .caixa-amigos h1 {
    text-align: center;
    font-size: 3.5rem;
  }

  .nav-amigos {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .nav-amigos ul {
    width: 40%;
  }

  .nav-amigos ul li {
    width: 100%;
  }
}

@media (max-width: 574px) {
  .caixa-amigos {
    padding: 0rem;
  }

  .caixa-amigos h1 {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
}

@media (max-width: 375px) {
  .caixa-amigos h1 {
    text-align: center;
    font-size: 2.5rem;
  }
}
